body {
  font-family: fantasy;
  font-size: 20;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  margin: 12px;
  font-size: 30px;
  font-family: fantasy;
}

.axis-title {
  font-size: 25px;
}
